<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    </br>
    <div th:fragment="prestamoForm(titulo)" class="container border border-2 w-25">
    <h1 class="text-center" th:text="${titulo}"></h1>

    <form>
        <label class="col-form-label">Estado:</label>
        <select class="form-control"  id="estado" name="estado" required>
            <option value="Solicitado" th:selected="${prestamo.estado eq 'Solicitado'}">Solicitado</option>
            <option value="Aprobado" th:selected="${prestamo.estado eq 'Aprobado'}">Aprobado</option>
            <option value="Rechazado" th:selected="${prestamo.estado eq 'Rechazado'}">Rechazado</option>
            <option value="Pagado" th:selected="${prestamo.estado eq 'Pagado'}">Pagado</option>
        </select>
        <label class="col-form-label">Tipo:</label>
        <input class="form-control" type="text" id="tipo" name="tipo" required th:value="${prestamo.tipo}" />

        <label class="col-form-label">Monto:</label>
        <input class="form-control" type="number" id="monto" name="monto"required th:value="${prestamo.monto}" />

        <label class="col-form-label">Interes:</label>
        <input class="form-control" type="number" id="interes" name="interes" step="0.01" required th:value="${prestamo.interes}" />
        
        <label class="col-form-label">Numero cuotas:</label>
        <input class="form-control" type="text" id="numero_cuotas" name="numero_cuotas" required th:value="${prestamo.numero_cuotas}" />
        
        <label class="col-form-label">Dia pago de cuota:</label>
        <input class="form-control" type="text" id="dia_mes_pagar_cuota" name="dia_mes_pagar_cuota" required th:value="${prestamo.dia_mes_pagar_cuota}" />
       
        <label class="col-form-label">Valor cuota:</label>
        <input class="form-control" type="text" id="valor_cuota" name="valor_cuota" required th:value="${prestamo.valor_cuota}" />
        
        <label class="col-form-label">Cliente:</label>
        <input class="form-control" type="text" id="cliente" name="cliente" required th:value="${prestamo.cliente.id}" />

        <label class="col-form-label">Gerente creador:</label>
        <input class="form-control" type="text" id="gerente_creador" name="gerente_creador" required th:value="${prestamo.gerente_creador}" />
        
        <label class="col-form-label">Saldo pendiente:</label>
        <input class="form-control" type="text" id="saldo_pendiente" name="saldo_pendiente" required th:value="${prestamo.saldo_pendiente}" />


        <div class="text-center" style="margin-top: 10px;">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/prestamos}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
    
</body>
</html>