<!DOCTYPE html>
<html>
<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    </br>
    <div th:fragment="usuarioEmpleadoForm(titulo)" class="container border border-2 w-25">
    <h1 class="text-center" th:text="${titulo}"></h1>

    <form>

        <!-- <label class="col-form-label">Numero documento:</label>
        <input class="form-control" type="text" id="numero_documento" name="numero_documento" required th:value="${Empleado.numero_documento}" />

        <label class="col-form-label">Cargo:</label>
        <input class="form-control" type="text" id="cargo" name="cargo" required th:value="${Empleado.cargo}" />

        <label class="col-form-label">Tipo:</label>
        <input class="form-control" type="text" id="tipo" name="tipo" required th:value="${Empleado.tipo}" />

        <label class="col-form-label">Tipo documento:</label>
        <input class="form-control" type="text" id="tipo_documento" name="tipo_documento" required th:value="${Empleado.tipo_documento}" />

        <label class="col-form-label">Nombre:</label>
        <input class="form-control" type="text" id="nombre" name="nombre" required th:value="${Empleado.nombre}" />

        <label class="col-form-label">Nacionalidad::</label>
        <input class="form-control" type="text" id="nacionalidad" name="nacionalidad" required th:value="${Empleado.nacionalidad}" />

        <label class="col-form-label">Direccion electronica:</label>
        <input class="form-control" type="text" id="direccion_electronica" name="direccion_electronica" required th:value="${Empleado.direccion_electronica}" />

        <label class="col-form-label">Dirección física:</label>
        <input class="form-control" type="text" id="direccion_fisica" name="direccion_fisica" required th:value="${Empleado.direccion_fisica}" />

        <label class="col-form-label">Telefono:</label>
        <input class="form-control" type="text" id="telefono" name="telefono" required th:value="${Empleado.telefono}" />

        <label class="col-form-label">Código postal:</label>
        <input class="form-control" type="text" id="codigo_postal" name="codigo_postal" required th:value="${Empleado.codigo_postal}" />

        <label class="col-form-label">Ciudad:</label>
        <input class="form-control" type="text" id="ciudad" name="ciudad" required th:value="${Empleado.ciudad}" />

        <label class="col-form-label">Departemento:</label>
        <input class="form-control" type="text" id="departamento" name="departamento" required th:value="${Empleado.departamento}" />

        <label class="col-form-label">Id oficina:</label>
        <input class="form-control" type="number" id="id_oficina" name="id_oficina" required th:value="${Empleado.id_oficina}" /> -->

        <label class="col-form-label">Login:</label>
        <input class="form-control" type="text" id="login" name="login" required th:value=${usuarioEmpleado.login} />

        <label class="col-form-label">Contraseña:</label>
        <input class="form-control" type="text" id="password_empleado" name="password_empleado" required th:value=${usuarioEmpleado.password_empleado} /> 
        
        <label class="col-form-label">Id del empleado:</label>
        <input class="form-control" type="text" id="id_empleado" name="id_empleado" required th:value=${usuarioEmpleado.id_empleado} />

        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/administrador}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
    
</body>
</html>