<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario empleado</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="row">
        <br>
        <br>

    </div>
    <div class="row">

        <div class="col-md-1"><br></div>

        <div class="col-md-3">

        </div>
    </div>

    <form action="#" th:action="@{/usuariosClientes/new/save}" method="post">
        <div th:replace="~{fragments/usuarioClienteForm :: usuarioClienteForm(titulo='Agregar usuario del cliente')}"></div>
    </form>

    <br>
    <br>

    <div class="row">
        <div class="col-md-8 offset-md-2">

        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre del empleado</th>
                </tr>
            </thead>
            <th:block th:each="cliente : ${clientes}">
                <tr>
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nombre}"></td>
                </tr>
            </th:block>

        </table>
    </div>

</body>
</html>